server:
  port: 8099

spring:
  application:
    name: rua
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  jackson:
    deserialization:
      fail-on-unknown-properties: false
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  model-and-view-allowed: true
  show-actuator: true
  swagger-ui:
    path: /swagger-ui.html

jwt:
  secret: ${JWT_SECRET:dGhpc2lzYXZlcnlsb25nc2VjcmV0a2V5Zm9yand0dG9rZW5zaWduaW5kaXRzaG91bGRiZWF0bGVhc3QyNTZiaXRz}
  expiration: ${JWT_EXPIRATION:86400000}

app:
  cors:
    allowed-origins:
      - "http://localhost:4200"
    allowed-methods:
      - GET
      - POST
      - PUT
      - DELETE
      - OPTIONS
    allow-credentials: true