spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rua_db
    username: postgres
    password: "221091"
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema-dev.sql

app:
  cors:
    allowed-origins: http://localhost:4200
    allowed-methods: GET,POST,PUT,DELETE,OPTIONS
    allow-credentials: true
